body{
    text-align:center;
    padding:10px;
    font-family:'Akaya Telivigala', cursive;

}

#sec1{
    background:linear-gradient(#F55F3F 0%, #FFB312 100%);
}

#myNavbar{
    position:sticky;
}

#myCarousel
{
    background: linear-gradient(rgb(0, 26, 255) 0%, rgb(132, 211, 253) 100%);
}

#myCarousel img{
    height:300px;
    margin-top:35px;
}
